
.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.checkoutLayout .right {
    background-color: #f19319;
    border-radius: 20px;
    padding: 40px;
    color: #030202;
}

.checkoutLayout .list img {
    height: 200px;
}

.checkoutLayout .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #e59217;
    padding-bottom: 20px;
}

.checkoutLayout .form .group:nth-child(-n+3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: #fdfdfd;
    color: #120b0b;
}

.checkoutLayout .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkoutLayout .row div:nth-child(2) {
    font-weight: bold;
    font-size: x-large;
}

.buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #392408;
    background-color: #f3f9f8;
}

.returnCart h1 {
    border-top: 1px solid #eee;
    padding: 20px 0;
}

.returnCart a {
    text-decoration: none;
    color: #eee;
    font-size: large;
}

.returnCart .backpri {
    background-color: #ea9619;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    color: #eee;
}

.returnCart .fa-solid {
    padding-left: 20px;
}

.returnCart .list .item img {
    height: 120px;
}

.returnCart .item {
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #555;
    border-radius: 20px;
}

.returnCart .item .name,
.returnCart .item .returnPrice {
    font-size: x-large;
    font-weight: bold;
}
