* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #FFA500, #FF6347)
}

header img {
    width: 200px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.ulo {
    top: 0;
    right: 0;
    height: 100px;
    display: flex;
    padding-right: 100px;
    align-items: center;
    justify-content: space-between;
}

.ulo a {
    font-size: x-large;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.ulo a:hover {
    background-color: red; 

}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.car {
    margin: 20px;
    padding: 15px;
    background-color: #dfc7b7;
    box-shadow: 0 4px 8px rgba(123, 107, 107, 0.1);
    border-radius: 8px;
    text-align: center;
}

.car img {
    width: 100%;
    max-height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.car image :hover {
    width: 100%;
    max-height:100px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c16a18;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.search-bar {
    width: 150px;
    height: 30px;
    margin-left: 200px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #c16a18;
    transition: 0.5s;
}

.search-bar:hover {
    width: 250px;
}

.search-bar input {
    font-size: 14px;
    color: black;
}

.search {
    width: 80px;
    height: 30px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #dfc7b7;
    transition: 0.5s;
}

.search:hover {
    background-color: #f98820;
}


